In [15]:
import warnings
warnings.filterwarnings("ignore")
import dbutils

main_connector = dbutils.connect_to_main_database()

In [19]:
sql_statement = "SELECT * FROM artifacts_with_targets WHERE type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

147395 [('RJ_WHH_3100', 'pc_RJ_WHH_3100_1542193587269_104_000.pcd', '/whhdata/qrcode/RJ_WHH_3100/measurements/1542193587269/pc/pc_RJ_WHH_3100_1542193587269_104_000.pcd', 'pcd', 398, 65.5, 8.7, 15.2, 44.8), ('RJ_WHH_3100', 'pc_RJ_WHH_3100_1542193587269_104_001.pcd', '/whhdata/qrcode/RJ_WHH_3100/measurements/1542193587269/pc/pc_RJ_WHH_3100_1542193587269_104_001.pcd', 'pcd', 398, 65.5, 8.7, 15.2, 44.8)]

In [25]:
sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE key='number_of_points';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

1 [(3982,)]

In [44]:
sql_statement = "SELECT COUNT(*) FROM artifact_quality;"
result = main_connector.execute(sql_statement, fetch_all=True)
print(result)

[(206595,)]

In [39]:
sql_statement = "SELECT COUNT(*) FROM artifact WHERE path LIKE '%scantimestamp%';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result)

sql_statement = "SELECT COUNT(*) FROM artifact WHERE path LIKE '% %';"
print(sql_statement)
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result)

sql_statement = "SELECT COUNT(*) FROM artifact WHERE path NOT LIKE '%scantimestamp%';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result)

6447
SELECT COUNT(*) FROM artifact WHERE path LIKE '% %';
0
960364

In [46]:
sql_statement = "SELECT tango_timestamp FROM artifact;"
result = main_connector.execute(sql_statement, fetch_all=True)
print(result[0:2])

[(1584.11,), (1583.98,)]